<label class="non-select">
    <span>Задача родитель</span>
    <span class="lp-validate-message" data-validate-for="parent"></span>
    <select class="uk-select lp-offcanvas-input" name="parent" id="te2__parent">
    </select>
</label>

<div class="lp-h100" id="te2__sigma" style="width: 100%; height: 620px">
    {# контейнер для графа #}
</div>

<script src="{{ 'assets/js/sigma/sigma.min.js'|theme }}"></script>
<script>
</script>