{{ form_ajax('onSignin') }}

<div class="uk-margin uk-margin-remove-top">
    <div class="uk-inline uk-flex">
        <span class="uk-form-icon" uk-icon="icon: user"></span>
        <input class="uk-input uk-flex-1" type="text" name="login" id="userSigninLogin" placeholder="Логин">
    </div>
</div>

<div class="uk-margin">
    <div class="uk-inline uk-flex">
        <span class="uk-form-icon" uk-icon="icon: lock"></span>
        <input class="uk-input" type="password" name="password" id="userSigninPassword" placeholder="Пароль">
    </div>
</div>

<button type="submit" class="uk-button uk-button-default">Войти</button>
{{ form_close() }}