<div class="uk-margin-left uk-margin-right">
    <button class="uk-button uk-button-link uk-text-primary" type="button">Тип задач</button>
    <div class="uk-background-secondary uk-box-shadow-large" uk-dropdown>
        <div class="uk-flex uk-flex-column" id="lp_task_types_filters">
            <span class="uk-light uk-margin-small-bottom">Все задачи</span>
            <div class="uk-flex uk-flex-column lp-filters-wrapper">
                <label class="uk-margin-small-bottom uk-text-primary uk-flex uk-text-baseline">
                    <input data-css=".task-type-task" class="uk-checkbox lp-filter-cbox " type="checkbox" checked>Задача
                </label>

                <label class="uk-margin-small-bottom uk-text-primary uk-flex uk-text-baseline">
                    <input data-css=".task-type-error" class="uk-checkbox lp-filter-cbox" type="checkbox" checked>Ошибка
                </label>

                <label class="uk-margin-small-bottom uk-text-primary uk-flex uk-text-baseline">
                    <input data-css=".task-type-problem" class="uk-checkbox lp-filter-cbox" type="checkbox" checked>Проблема
                </label>
            </div>
        </div>
    </div>
</div>