<div class="uk-margin-left">
    <button class="uk-button uk-button-link uk-text-primary" type="button">Приоритет</button>
    <div class="uk-background-secondary uk-box-shadow-large" uk-dropdown>
        <div class="uk-flex uk-flex-column" id="lp_filters">
            <span class="uk-light uk-margin-small-bottom">Новые задачи</span>
            <div class="uk-flex uk-flex-column uk-margin-right lp-filters-wrapper">
                <label class="uk-text-danger uk-margin-small-bottom uk-flex uk-text-baseline">
                    <input data-css=".task-priority-critical" class="uk-checkbox lp-filter-cbox" type="checkbox" checked>Срочно
                </label>

                <label class="uk-text-warning uk-margin-small-bottom uk-flex uk-text-baseline">
                    <input data-css=".task-priority-high" class="uk-checkbox lp-filter-cbox" type="checkbox" checked>Высокий
                </label>

                <label class="uk-text-success uk-margin-small-bottom uk-flex uk-text-baseline">
                    <input data-css=".task-priority-mid" class="uk-checkbox lp-filter-cbox" type="checkbox" checked>Средний
                </label>

                <label class="filter-low-text-color uk-margin-small-bottom uk-flex uk-text-baseline">
                    <input data-css=".task-priority-low" class="uk-checkbox lp-filter-cbox" type="checkbox" checked>Низкий
                </label>
            </div>
        </div>
    </div>
</div>