<div class="uk-margin-left">
    <button class="uk-button uk-button-link uk-text-primary" type="button">Вид задач</button>
    <div class="uk-background-secondary uk-box-shadow-large" uk-dropdown>
        <div class="uk-flex uk-flex-column" id="lp_tasks_view">
            {% if sprint %}
                <label class="uk-text-primary uk-margin-small-bottom uk-flex uk-text-baseline">
                    <input class="uk-radio lp-task-view-radio" type="radio" name="tasks_view_type" id="tasks_view_0" checked> Полный
                </label>
                <label class="uk-text-primary uk-flex uk-text-baseline">
                    <input class="uk-radio lp-task-view-radio" type="radio" name="tasks_view_type" id="tasks_view_1"> Компактный
                </label>

                <hr>
            {% endif %}

            {% partial 'blocks/repeated/taskViewSettingsParts/taskWorkerTasks' %}
        </div>
    </div>
</div>