<div class="uk-margin-left">
    <button class="uk-button uk-button-link uk-text-primary" type="button">Сортировки</button>
    <div class="uk-background-secondary uk-box-shadow-large" uk-dropdown>
        <div class="uk-flex uk-flex-column" id="lp_sortings">
            <label class="uk-text-primary uk-margin-small-bottom uk-flex uk-text-baseline">
                <input class="uk-radio lp-sorts-radio" type="radio" name="sort_type" id="sort_type_0" checked> По умолчанию
            </label>
            <label class="uk-text-primary uk-margin-small-bottom uk-flex uk-text-baseline">
                <input class="uk-radio lp-sorts-radio" type="radio" name="sort_type" id="sort_type_1"> По важности
            </label>
            <label class="uk-text-primary uk-margin-small-bottom uk-flex uk-text-baseline">
                <input class="uk-radio lp-sorts-radio" type="radio" name="sort_type" id="sort_type_2"> По дате обновления
            </label>
            <label class="uk-text-primary uk-margin-small-bottom uk-flex uk-text-baseline">
                <input class="uk-radio lp-sorts-radio" type="radio" name="sort_type" id="sort_type_3"> По очкам
            </label>
        </div>
    </div>
</div>