<div class="uk-margin-left uk-margin-right">
    <button class="uk-button uk-button-link uk-text-primary" type="button">Период</button>
    <div class="uk-background-secondary uk-box-shadow-large" uk-dropdown>
        <form class="uk-flex uk-flex-column" id="lp_task_period">
            <label>
                <span>Начало</span>
                <input class="uk-input" type="date" name="sprint_start" value="{{ date|date('Y-m-d') }}" required>
            </label>
            <span data-validate-for="sprint_start"></span>

            <label>
                <span>Окончание</span>
                <input class="uk-input" type="date" name="sprint_finish" value="{{ date|date('Y-m-d') }}" >
            </label>
            <span data-validate-for="sprint_finish"></span>

            <button class="uk-button uk-margin-small-top" type="button">Применить</button>
        </form>
    </div>
</div>