<div class="uk-position-cover uk-position-large uk-margin-large-top">
    <div class="uk-position-top-center uk-text-center">
        <h1 class="uk-heading-2xlarge lp-error-code uk-text-primary non-select">{{ err_num }}</h1>
        <div class="uk-flex uk-flex-column">
            <h2 class="uk-margin-remove">{{ err_text_1 }}</h2>
            <h3 class="uk-margin-remove">{{ err_text_2 }}</h3>
        </div>
    </div>
</div>