==
{% set sprint_states = sprint.states %}
{#<div>{{ sprint_states }}</div>#}
<main class="main_sprint" uk-filter="target: .task-container">
    {# фильтр задач #}
    <div class="uk-active" id="lp_filters_settings" uk-filter-control="sort: id; order: desc" hidden></div>

    {% for state in sprint_states %}
        <div class="uk-card uk-card-default
            uk-card-body state uk-padding-small uk-padding-remove-top" {% if state.id == 1 %}id="grid_state_1" {% endif %}>

            <div class="counter-stl uk-card-badge uk-label non-select" id="state_{{ state.id }}_counter"></div>

            {# Заголовок задачи #}
            <div class="uk-flex uk-flex-middle uk-margin-small">
                <span class="uk-h3 uk-margin-remove non-select">{{ state.name }}</span>

                {% if state.id == 1 %}
                    <div class="uk-inline">
                        {# кнопка + #}
                        <i class="lp-btn" uk-icon="icon: plus-circle; ratio: 1.25" id="btn_task_add"></i>

                        {# форма добавления задачи #}
                        <form class="form_add_task uk-box-shadow-large" uk-dropdown="mode: click"
                              data-request="onTaskAdd"
                              data-request-data
                              data-request-validate
                              data-request-flash
                              data-request-success="onSprintTaskShow(data)">

                            {% partial 'blocks/repeated/taskAdd' %}
                        </form>
                    </div>
                {% endif %}

            </div>{# Заголовок задачи #}

            <hr class="uk-hr uk-margin-small">

            <div class="task-container js-filter"
                 uk-sortable="group: tasks-container"
                 cls-placeholder="task-cls-placeholder"
                 data-state-id="{{ state.id }}"
                 id="state_{{ state.id }}">

                {% for task in state.tasks %}
                    {% if task %}
                        <div class="task uk-card uk-card-default uk-card-body uk-margin-small-bottom
                        {{ task.task_priority.css }} {{ task.task_type.css }}"
                             id="id_task_{{ task.id }}"
                             uk-toggle="target: #task_editor_v2"
                             data-id="{{ task.id }}"
                             data-orig-pos="{{ task.id }}"
                             data-worker="{{ task.worker_id }}"
                             data-score="{{ task.estimate }}"
                             data-priority="{{ task.task_priority.level }}"
                             data-task-type="{{ task.task_type.id }}"
                             data-date="{{ task.updated_at|date("U") }}"
                        >

                            <div class="uk-text-small task-title">
                                {{ task.name }}
                            </div>
                            <div class="task-items uk-text-right non-select">
                                {% if task.worker %}
                                    <div class="uk-display-inline-block image-relative-wrapper task-sprint-user-avatar" title="{{ task.worker.name }}">
                                        <img class="user-info-avatar" src="{{ task.worker.avatar.path }}" alt="" height="20px" width="20px">
                                    </div>
                                {% endif %}
                                <span class="uk-text-meta lp-text-smaller uk-float-left">{{ task.updated_at|time_since() }}</span>
                                <span  {% if task.is_tracked %}uk-icon="forward"{% endif %}></span>
                                <span class="uk-text-meta uk-badge lp-text-smaller task-scores">{{ task.estimate }}</span>
                                <span class="task-counter uk-float-right">{{ task.sub_done }}/{{ task.sub }}</span>
                                <span class="icon-fix uk-float-right" uk-icon="list"></span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</main>
