==
<header class="uk-background-secondary header_project">
    <nav class="uk-background-secondary uk-light" uk-navbar>
        <div class="uk-navbar-left uk-margin-left">
            <div class="uk-breadcrumb">
                <a href="/" uk-icon="home"></a>
                <a href="/categories">Все проекты</a>
                <a href="/projects/{{ project.project.slug }}">{{ project.project.name }}</a>

                <span class="uk-flex uk-flex-middle lp-btn" uk-toggle="target: #offcanvas_sprint_info">
                <span class="header-sprint-title" style="font: inherit;">{{ sprint.sprint_info.name }}</span>
                <i uk-icon="pencil"  id="id_sprint_{{ sprint.sprint_info.id }}"></i>
                </span>
            </div>
            <div class="uk-margin-large-left">
                <span class="uk-margin-small-right">Модули:</span>
                <a class="uk-margin-small-right" href="/projects/{{ project.project.slug }}/tracker" title="Трекер" uk-icon="icon: git-branch; ratio: 1.1">
                    Трекер
                </a>
                <a class="uk-margin-small-right" href="/projects/{{ project.project.slug }}/report" title="Отчёт" uk-icon="icon: file-text; ratio: 1.1">
                    Лента отчёта
                </a>
            </div>
        </div>

        <div class="uk-navbar-right">
            {% partial 'blocks/repeated/taskViewSettings' %}
            {% partial 'blocks/header/user_avatar' %}
        </div>
    </nav>

    <div id="id_prj_info"
         data-project="{{ project.project.id }}"
         data-sprint="{{ sprint.sprint_info.id }}"
         data-user="{{ user.id }}"
         hidden>
    </div>
</header>
