==
{% set lpuser_projects = profile.lpuser_projects %}


<div class="uk-flex">
    {% for project in lpuser_projects.projects %}
        {% if project %}


            <div class="state uk-margin-large-right">
                <a href="/projects/{{ project.slug }}"><h4>{{ project.name }}</h4></a>
                <hr class="uk-margin-small">

                <div class="task-container uk-flex uk-flex-column uk-position-relative">

                    {% for task in project.tasks %}
                        {% if task %}

                            {% if task.sprint_id %}
                                {% set task_link = "/projects/" ~ project.slug ~ "/sprints/" ~ task.sprint_id %}
                            {% else %}
                                {% set task_link = "/projects/" ~ project.slug %}
                            {% endif %}

                            <a href="{{ task_link }}"
                               class="task {{ task.task_priority.css }} {{ task.task_type.css }} uk-margin-small-bottom"
                            >

                                <span class="uk-text-small lp-text-primary">{{ task.name }}</span>
                                {% if task.is_tracked %}<span uk-icon="forward"></span>{% endif %}
                            </a>


                        {% endif %}
                    {% endfor %}

                </div>
            </div>


        {% endif %}
    {% endfor %}
</div>

