{% set lpuser_info = profile.lpuser %}

<div class="uk-flex uk-flex-1">
    <div class="lp-profile-settings-menu uk-margin-large-right">
        <ul class="uk-flex uk-flex-column uk-subnav uk-subnav-pill"
            uk-switcher="connect: .vertical-menu"
        >
            <li><a href="#">Профиль</a></li>
            <li><a href="#">Безопасность</a></li>
        </ul>
    </div>

    <div class="lp-profile-settings-body">
        <ul class="uk-switcher uk-margin vertical-menu">
            <li>{% partial 'blocks/page_profile/body/tabs/settings/lpuser' %}</li>
            <li>{% partial 'blocks/page_profile/body/tabs/settings/user' %}</li>
        </ul>
    </div>
</div>