<div id="task_editor_v2" class="uk-modal-container" uk-modal="bg-close: false;">
    <div class="uk-modal-dialog uk-background-default">
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
        <div id="lp-task-editor-v2" class="uk-padding">

            {% if profile.lpuser.access.acs_task >= 110 %}
                <div id="lp-task-editor-v2--body" class="lp-h100">
                    {% partial 'modals/task_editor_v2/menu/head' %}
                    {% partial 'modals/task_editor_v2/menu/body' %}
                </div>
            {% else %}
                <div class="uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-height-1-1">
                    <span class="lp-text-primary uk-h1">Нет доступа</span>
                </div>
            {% endif %}

            {% partial 'modals/task_editor_v2/menu/hidden' %}
        </div>
    </div>
</div>