{% set project = project.project %}

<div class="uk-flex non-select uk-margin-small-bottom">
    <div class="uk-flex uk-flex-middle project-item-image">
        {% if project.project_image.path %}
            <img src="{{ project.project_image.path }}" alt="Изображение проекта{{ project.name }}">
        {% else %}
            <img src="{{ 'assets/images/project_thumb.png'|theme }}" alt="Изображение проекта {{ project.name }}">
        {% endif %}
    </div>
    <div class="uk-flex uk-flex-column uk-margin-left">
        <span class="uk-text-large project-item-title">{{ project.name }}</span>
        <span class="uk-text-small project-item-descr">{{ project.descr }}</span>
    </div>
</div>