* {
    font-family: RobotoRegular, RobotoLight, RobotoMedium, RobotoBold, monospace;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-size: cover;

    display: grid !important;
    display: -ms-grid !important;
    grid-template-areas:
            "header"
            "main";
    grid-template-rows: auto 1fr;

    height: 100vh;
    overflow-x: hidden;
}

i {
    margin-left: 5px !important;
}

.header_project {
    grid-area: header;
}

.main_categories {
    grid-area: main;
    display: grid !important;
    display: -ms-grid !important;
    grid-template-rows: 1fr;
    overflow-y: auto;
}

.main_project {
    grid-area: main;
    display: grid !important;
    display: -ms-grid !important;
    grid-template-columns: 500px 1fr;
    overflow-y: auto;
}

.main_sprint {
    grid-area: main;
    display: grid !important;
    display: -ms-grid !important;
    grid-template-columns: repeat(5, 350px);
    grid-gap: 20px;
}

.main_tracker {
    grid-area: main;
    display: grid !important;
    display: -ms-grid !important;
    grid-template-columns: minmax(768px, 1000px);
    justify-content: center;
    grid-gap: 20px;
    overflow-y: auto;
}

.main_report, .main_task {
    grid-area: main;
    display: grid !important;
    display: -ms-grid !important;
    grid-template-columns: 650px;
    justify-content: center;
    grid-gap: 20px;
    overflow-y: auto;
}

.main_profile {
    grid-area: main;
    display: grid !important;
    display: -ms-grid !important;
    grid-template-columns: 400px 1fr;
    grid-gap: 40px;
}

label > span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input, select, textarea {
    margin-top: 4px !important;
    margin-bottom: 10px !important;
}

input[type="checkbox"], input[type="radio"]  {
    margin-right: 8px;
}

#lp-task-editor-v2 {
    height: 90vh;
}

#lp-task-editor-v2--body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-column-gap: 40px;
}

/*****************************Классы***********************************************************************************/
.counter-stl {
    background-color: rgba(0, 0, 0, 0.1) !important;
    color: black !important;
}

.filter-low-text-color {
    color: #17a2b8;
}

.form_add_task {
    width: 350px;
}

.hidden {
    display: none !important;
}

.lp-badge {
    padding-left: 10px !important;

    background-color: #1e87f0 !important;

    color: white !important;
}

.lp-badge > input {
    border: none;

    color: white !important;

    background-color: #1e87f0;

    padding: 0 !important;
    margin: 0 !important;

    height: 16px;
}

.lp-badge-rounded {
    border-radius: 2px;
    padding: 2px 6px;
}

.lp-badge-rounded.task-priority-critical {
    background-color: #ff0000;
    border-width: 0 !important;
    color: white;
}

.lp-badge-rounded.task-priority-high {
    background-color: #f0506e;
    border-width: 0 !important;
    color: white;
}

.lp-badge-rounded.task-priority-mid {
    background-color: #32d296;
    border-width: 0 !important;
    color: white;
}

.lp-badge-rounded.task-priority-low {
    background-color: #17a2b8;
    border-width: 0 !important;
    color: white;
}

.lp-bgc-success {
    background-color: #32d296;
}

.lp-btn {
    cursor: pointer !important;
}

.lp-btn:hover {
    color: lightseagreen;
}

.lp-border-primary {
    border: 1px solid rgb(61, 61, 61);
}

.lp-border-light {
    border: 1px solid #e5e5e5;

}

.lp_container {
    background-color: rgba(255, 255, 255, 0.4);
}

.lp-error-code {
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    font-weight: bold;

    animation: error_code_color_change, error_code_skewX  3s infinite ease-in-out alternate-reverse;
}

@keyframes error_code_color_change {
    from {color: #1e87f0;}
    to {color: rgba(30, 135, 240, 0.8)}
}

@keyframes error_code_skewX {
    0% {
        transform: skewX(-5deg);
    }
    100% {
        transform: skewX(5deg);
    }
}

.lp-h100 {
    height: 100%;
}

.lp-lpuser-initials {
    border: solid 1px #999;
    border-radius: 4px;

    padding: 0 2px;
}

.lp-modal-bg {
    background-color: rgba(42, 42, 42, 0.8);
}

.lp-offcanvas {
    min-width: 500px;

    background-color: rgba(255, 255, 255, 1) !important;

    border-right: solid 1px whitesmoke;

    color: #333;
}

.lp-offcanvas-checkbox {
    border: solid 1px #ddd !important;
    padding: 12px 15px 12px 15px;
}

.lp-offcanvas-input {
    color: #666 !important;

    border: solid 1px #ddd !important;
    border-radius: 4px;

    height: 32px !important;
}


.lp-offcanvas-input:focus, .lp-offcanvas-textarea:focus {
    border: solid 1px #333 !important;
}

.lp-offcanvas-textarea {
    color: #666 !important;
    border-radius: 4px;

    border: solid 1px #dddddd !important;
}

.lp-padding-lr {
    padding-left: 1rem;
    padding-right: 1rem;
}

.lp-padding-comments {
    padding-left: 10px !important;
}

.lp-pointer {
    cursor: pointer;
}

.lp-project-button {
    position: fixed;
    right: 0px;

    border: 1px solid rgba(0, 0, 0, 0.15);

    width: 200px;

    cursor: pointer;

    text-align: center;
}

.lp-profile-avatar-container {
    width: 220px;
    height: 220px;
    border: 2px solid #000;

    border-radius: 110px;

    overflow: hidden;
}

.lp-profile-avatar-container > img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

.lp-profile-left-side {
    max-height: 100vh;
}

.lp-profile-right-side {
    max-height: 100vh;
    overflow-y: auto;
}

.lp-profile-settings-menu {
    width: 200px;
}

.lp-profile-settings-body {
    width: 100%;
}

.lp-profile-avatar-image-container {
    width: 125px;
    height: 125px;

    overflow-y: hidden;
}

.lp-profile-avatar-image {
    margin-bottom: 10px;

    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;

    width: 125px;
}

.lp-small-btn {
    height: 32px !important;

    margin: 4px 0 10px 0;
}

.lp-story-timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.lp-story-timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: #d9d9d9;
    top: 0;
    bottom: 0;
    left: 22px;
    margin-left: -3px;
}

/* Container around content */
.lp-story-container {
    position: relative;
    left: 30px;
    width: calc(100% - 30px);
    background-color: inherit;
}

.lp-story-right::after {
    left: 26px;
}

.lp-story-content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    top: -40px;
}

.lp-story-content-avatar-container {
    border: 2px solid #1e87f0;
    border-radius: 20px;

    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;

    top: 19px;
    left: -28px;
    z-index: 101;
}

.lp-story-content-avatar-container > img {
    position: absolute;
}


.lp-text-primary {
    color: rgb(61, 61, 61) !important;
}

.lp-text-smaller {
    font-size: 0.8rem;
}

.lp-text-065 {
    font-size: 0.65rem;
    font-style: italic;
    margin-top: 2px;
}

.lp-validate-message {
    color: red;
    animation: validate_message_color_change 0.5s infinite ease-in-out alternate-reverse;
}

@keyframes validate_message_color_change {
    from {color: red;}
    to {color: rgba(255, 0, 0, 0.3)}
}

.non-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.project-block-header {
    margin-top: 1rem !important;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;

    background: rgba(255, 255, 255, .3) !important;

    height: 150px;
    width: 150px;
}

.project-item:hover {
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);

    text-decoration: none;
}

.project-item-image {
    margin-bottom: 10px;

    border: 1px solid rgba(0,0,0,0.1);

    width: 64px;
    height: 64px;
}

.project-item-name > span {
    display: flex;
    align-self: center;

    text-align: center;
}

.project-list-container {
    display: flex;
    flex-wrap: wrap;
}

.state {
    min-width: 350px;
    background-color: rgba(255, 255, 255, 0.1);
    height: calc(100vh - 95px); /* - шапка - скролл*/
}

.subtask-checkbox {
    margin-top: 0;
    margin-right: 0;
    padding: 12px 15px 12px 15px;

    border-right: none !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.subtask-input {
    margin-top: 0;
    padding: 12px 15px 12px 15px;

    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.task {
    cursor: pointer;

    border: 1px solid rgba(0, 0, 0, 0.08);
    border-left: 7px solid black;

    box-shadow: none; !important;

    padding: 4px 4px 4px 6px;

    min-height: 38px;
}

.task-cls-placeholder {
    border: 1px white dotted;
}

.task-in-sprint-placeholder {
    font-size: 0.8rem;

    border: dashed 1px grey;

    height: 30px !important;
}

.task-tr-fix {
    border-left: none;
    border-right: none;
}

.task-container, .tasks-container, .sprints-container {
    overflow-y: auto;
    height: 100%;
    max-height: calc(100vh - 178px);
}

.task_done {
    text-decoration: line-through;
}

/* цвета приоритетов для задач*/
.task-priority-critical {
    border-left: 7px solid #ff0000;
}
.task-priority-critical:hover {
    border: 1px solid #ff0000;
    border-left-width: 7px;
}

.task-priority-high {
    border-left: 7px inset #f0506e;
}
.task-priority-high:hover {
    border: 1px solid #f0506e;
    border-left-width: 7px;
}

.task-priority-mid {
    border-left: 7px inset #32d296;
}
.task-priority-mid:hover {
    border: 1px solid #32d296;
    border-left-width: 7px;
}

.task-priority-low {
    border-left: 7px inset #17a2b8;
}
.task-priority-low:hover {
    border: 1px solid #17a2b8;
    border-left-width: 7px;
}

.task-priority-critical, .task-priority-high, .task-priority-mid, .task-priority-low {
    font-weight: lighter;
}

.task-type-task {
    background-color: #fff;
}

.task-type-problem {
    background-color: rgba(255, 255, 153, 0.8);
    color: black;
}

.task-type-error {
    background-color: rgba(255, 0, 0, 0.1);
    color: black;
}

.task-user-wrapper {
    position: relative;
    overflow: hidden;
    height: 26px;
    width: 26px;
    border: #222 2px solid;
    border-radius: 13px;
    margin-right: 10px;
}

.task-worker-block, .task-lpuser-block {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
}

.task-user-name {
    position: relative;
    color: #222;
    font-size: 0.8rem;
    line-height: 1.5rem;
    vertical-align: middle;

    min-width: 100%;
    min-height: 100%;
}

.task-sprint-user-avatar {
    top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid black;
}

.task-scores {
    background-color: rgba(0, 0, 0, 0.1) !important;
    color: black !important;
}

.task-title, .task-items > .uk-badge {
    pointer-events: none !important;
}

#te2__story_container {
    position: relative;
    margin-bottom: 0;
    overflow-y: auto;
}

#te2__story_container_content {
    position: absolute;
}

.tzq-auth-form {
    min-width: 320px;
    margin-top: -5%;
}

.image-relative-wrapper {
    position: relative;
    overflow: hidden;
}

.user-project-info-wrapper {
    width: 48px;
    height: 48px;
    border: black 2px solid;
    border-radius: 24px;
}

.user-info-wrapper {
    width: 36px !important;
    height: 36px !important;
    border: white 2px solid;
    border-radius: 18px;
}

.user-info-avatar {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 0;
}

.user-info-avatar-dark {
    border-color: rgb(61, 61, 61);
}

.user-info-name {
    display: inline-block;
}

/***********************************************************************************************************************
************************************************************************************************************************
***********************************************************************************************************************/
/* fixes*/

.counter-stl {
    top: 18px;
}

.icon-fix {
    padding-top: 3px;
}

.icon-fix-modal {
    margin: -2px 4px 2px -3px;
}

.subtask > input[type='checkbox'] {
    margin-right: 0 !important;
}

/* подсветка в навигации добавления/настройки проекта/спринта */
.uk-subnav > .lp-switch-item > a {
    color: #999 !important;
}

.uk-subnav > .uk-active.lp-switch-item > a {
    background-color: #222;
    color: #ddd !important;
}

/***********************************************************************************************************************
************************************************************************************************************************
***********************************************************************************************************************/
/* Scrollbar width*/
::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb
{
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: rgb(47, 47, 47);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* Scrollbar color */
::-webkit-scrollbar-thumb:window-inactive
{
    background: #5A5A5B;
}

/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/RobotoLight/RobotoLight.eot");
    src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/RobotoMedium/RobotoMedium.eot");
    src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}