{# название задачи #}
<label class="non-select">
    <span>Задача</span>
    <span class="lp-validate-message" data-validate-for="name"></span>
    <input type="text" class="uk-input lp-offcanvas-input" name="name" placeholder="Укажите название задачи" id="te2__name">
</label>


{# затраты на задачу #}
<label class="non-select">
    <span>Затраты</span>
    <span class="lp-validate-message" data-validate-for="estimate"></span>
    <input type="number" class="uk-input lp-offcanvas-input" name="estimate" id="te2__estimate" step="0.1" min="1.0" value="1.0">
</label>


{# описание задачи #}
<label class="non-select">
    <span>Описание</span>
    <span class="lp-validate-message" data-validate-for="descr"></span>
    <textarea class="uk-textarea lp-offcanvas-textarea" name="description" cols="333" rows="10" id="te2__descr" placeholder="Опишите задачу"></textarea>
</label>


{# поле экстра #}
<label class="non-select">
    <span>Экстра</span>
    <span class="lp-validate-message" data-validate-for="extra"></span>
    <input type="text" class="uk-input lp-offcanvas-input" name="extra" placeholder="Экстра для поиска" id="te2__extra">
</label>


{# поле закрыть задачу #}
<label class="non-select">
    <span>Закрытие задачи</span>
    <span class="lp-validate-message" data-validate-for="is_closed"></span>
    <input type="checkbox" class="uk-checkbox lp-offcanvas-input lp-offcanvas-checkbox" name="is_closed" id="te2__is_closed"> Закрыть задачу
</label>