==
<div id="offcanvas_project_info" uk-offcanvas="flip: true; overlay: true;">
    <form class="uk-offcanvas-bar uk-padding-small lp-offcanvas uk-flex uk-flex-column"
          data-request="onProjectSave"
          data-request-validate
          data-request-flash
          data-request-files
          data-request-success="onProjectDataShow(data)">

        {% partial 'offsets/project_info/title' %}

        {% partial 'offsets/project_info/menu/head' %}
        {% partial 'offsets/project_info/menu/body' %}

        <input type="hidden" name="project_slug" value="{{ project.project.slug }}">
        <input type="hidden" name="user_id" value="{{ user.id }}">
    </form>
</div>