==
{% set sprint = sprint.sprint_info %}
<div id="offcanvas_sprint_info" uk-offcanvas="flip: true; overlay: true;">
    <form class="uk-offcanvas-bar uk-padding lp-offcanvas uk-flex uk-flex-column"
          data-request-validate
          data-request-flash
          data-request-files
          data-request-data="sprint_id: '{{ sprint.id }}', project_slug: '{{ project.project.slug }}', user_id: '{{ user.id }}'"
          >

        <div class="uk-flex-1">
            <label class="non-select">
                <span>Название</span>
                <span class="lp-validate-message" data-validate-for="name"></span>
                <input class="uk-input lp-offcanvas-input" type="text" name="name" value="{{ sprint.name }}" id="pi__name">
            </label>


            <label class="non-select">
                <span>Цель спринта</span>
                <span class="lp-validate-message" data-validate-for="description"></span>
                <textarea class="uk-textarea lp-offcanvas-textarea" name="descr" cols="333" rows="10" id="pi__description">{{ sprint.descr }}</textarea>
            </label>

            <div class="uk-flex uk-flex-between">
                <label class="uk-flex-1 uk-margin-small-right">
                    <span>Начало</span>
                    <span data-validate-for="sprint_start"></span>
                    <input class="uk-input lp-offcanvas-input"
                           type="date"
                           name="date_start"
                           value="{{ sprint.date_start|date('Y-m-d') }}"
                           required>
                </label>

                <label class="uk-flex-1 uk-margin-small-left">
                    <span>Окончание</span>
                    <span data-validate-for="sprint_finish"></span>
                    <input class="uk-input lp-offcanvas-input"
                           type="date"
                           name="date_finish"
                           value="{{ sprint.date_finish|date('Y-m-d') }}"
                           required>
                </label>
            </div>
        </div>

        <div class="uk-flex-bottom uk-flex uk-flex-between uk-margin-top">
            <button type="submit"
                    class="uk-button uk-button-danger lp-border-primary"
                    id="si__btn_end"
                    data-request="onSprintDelete"
                    data-request-confirm="Вы уверены, что хотите навсегда удалить спринт?"
                    uk-icon="trash"
            ></button>
            <button type="submit"
                    class="uk-button uk-button-secondary lp-border-primary"
                    id="si__btn_close"
                    data-request="onSprintClose"
                    data-request-confirm="Вы уверены, что хотите закрыть спринт??"
                    uk-icon="lock"
            ></button>
            <button type="submit"
                    class="uk-button uk-button-primary lp-border-primary"
                    id="si__btn_save"
                    data-request="onSprintSave"
                    data-request-success="onSprintDataShow(data)"
                    uk-icon="check"
            ></button>
        </div>
    </form>
</div>