==
{% set lpuser = profile.lpuser %}

<main class="main_profile">

    {% partial 'blocks/page_profile/body/aside' %}

    <div class="lp-profile-right-side">
        <nav class="uk-nav uk-margin-bottom">
            <ul>

            </ul>
        </nav>
        <div class="">

            <ul class="uk-subnav uk-subnav-pill" uk-switcher>
                <li><a href="#">Проекты и задачи</a></li>
                {% if lpuser.user_id == user.id %}
                    <li class="uk-flex">
                        <a href="#">Уведомления</a>
                        <span id="profile_notify_counter" class="uk-badge" style="position: relative; left: -11px">{{ profile.lpuser_comments|length }}</span>
                    </li>
                {% endif %}
                {% if lpuser.user_id == user.id %}<li><a href="#">Настройка профиля</a></li>{% endif %}
            </ul>
            <ul class="uk-switcher uk-margin">
                <li>{% partial 'blocks/page_profile/body/tabs/projectsTasks' %}</li>
                {% if lpuser.user_id == user.id %}<li>{% partial 'blocks/page_profile/body/tabs/comments' %}</li>{% endif %}
                {% if lpuser.user_id == user.id %}<li>{% partial 'blocks/page_profile/body/tabs/settings' %}</li>{% endif %}
            </ul>
        </div>
    </div>
</main>
