{% set project = project.project %}


<div class="lp-workers uk-margin-bottom">
    <div class="uk-margin-top uk-flex uk-flex-column">
        <span class="uk-h4 lp-text-primary">Заказчики</span>
        {% for lpuser in project.lpusers %}
            {% if lpuser.pivot.acs_project == 600 %}
                {{ include('offsets/project_info/menu/items/template_avatar') }}
            {% endif %}
        {% endfor %}
    </div>

    <div class="uk-margin-top uk-flex uk-flex-column">
        <span class="uk-h4 lp-text-primary">Владелец проекта</span>
        {% for lpuser in project.lpusers %}
            {% if lpuser.pivot.acs_project == 777 %}
                {{ include('offsets/project_info/menu/items/template_avatar') }}
            {% endif %}
        {% endfor %}
    </div>

    <div class="uk-margin-top uk-flex uk-flex-column">
        <span class="uk-h4 lp-text-primary">Исполнители</span>
        {% for lpuser in project.lpusers %}
            {% if lpuser.pivot.acs_project <= 111 or lpuser.pivot.acs_project == 777 %}
                {{ include('offsets/project_info/menu/items/template_avatar') }}
            {% endif %}
        {% endfor %}
    </div>
</div>