{% set all_categories = project.all_categories %}
{% set project = project.project %}


<div class="uk-flex-1">
    <label class="non-select">
        <span>Название проекта</span>
        <span class="lp-validate-message" data-validate-for="name"></span>
        <input class="uk-input lp-offcanvas-input" type="text" name="name" value="{{ project.name }}" id="pi__name">
    </label>


    <label class="non-select">
        <span>Описание проекта</span>
        <span class="lp-validate-message" data-validate-for="description"></span>
        <textarea class="uk-textarea lp-offcanvas-textarea" name="description" cols="333" rows="3" id="pi__description">{{ project.descr }}</textarea>
    </label>


    <label class="non-select">
        <span>Изображение</span>
        <div class="js-upload uk-margin-bottom" uk-form-custom>
            {% if project.project_image.path %}
                <img src="{{ project.project_image.path }}" alt="Изображение проекта{{ project.name }}" id="id_project_image" width="66px" height="66px">
            {% else %}
                <img src="{{ 'assets/images/project_thumb.png'|theme }}" alt="Изображение проекта {{ project.name }}" id="id_project_image" width="66px" height="66px">
            {% endif %}
            <button class="uk-button" type="button" tabindex="-1">Выбрать изображение</button>
            <input type="file" name="project_image" id="id_project_new">
        </div>
    </label>


    <label class="non-select">
        <span>Категория проекта</span>
        <span class="lp-validate-message" data-validate-for="category"></span>
        <select class="uk-select lp-offcanvas-input" name="category" id="pi_category_id">
            {% for category in all_categories %}
                <option value="{{ category.id }}" {% if category.id == project.category.id %} selected {% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>
    </label>


    <div class="uk-flex uk-flex-between">
        <label class="uk-flex-1 uk-margin-small-right">
            <span>Планируемое начало</span>
            <span data-validate-for="sprint_start"></span>
            <input class="uk-input lp-offcanvas-input"
                   type="date"
                   name="planned_date_start"
                   value="{{ project.planned_date_start|date('Y-m-d') }}"
                   required>
        </label>

        <label class="uk-flex-1 uk-margin-small-left">
            <span>Планируемое окончание</span>
            <span data-validate-for="sprint_finish"></span>
            <input class="uk-input lp-offcanvas-input"
                   type="date"
                   name="planned_date_finish"
                   value="{{ project.planned_date_finish|date('Y-m-d') }}"
                   required>
        </label>
    </div>

    <label class="non-select">
        <span>Готовность</span>
        <input type="hidden" name="is_done" value="0">
        <span class="lp-validate-message" data-validate-for="is_done"></span>
        <input type="checkbox" class="uk-checkbox lp-offcanvas-input lp-offcanvas-checkbox" name="is_done" id="pi__is_done"> Проект завершён
    </label>


    <label class="non-select">
        <span>Экстра</span>
        <span class="lp-validate-message" data-validate-for="extra"></span>
        <input type="text" class="uk-input lp-offcanvas-input" name="extra" placeholder="Экстра для поиска" id="pi__extra">
    </label>
</div>

<div class="uk-flex uk-flex-between">
    <button type="submit" class="uk-button uk-button-primary lp-border-primary" id="pi__btn_save">Сохранить</button>
</div>