<a href="/users/{{ lpuser.id }}" class="uk-flex uk-flex-middle uk-margin-bottom">
    <div class="image-relative-wrapper user-project-info-wrapper uk-margin-small-right">
        <img class="user-info-avatar non-select lp-btn"
             src="{{ lpuser.avatar.path }}"
             alt="Изображение"
        >
    </div>
    <span class="user-info-name lp-btn lp-text-primary">{{ lpuser.name }}</span>
</a>
