{% set lpuser_info = profile.lpuser %}
<aside class="lp-profile-left-side uk-card uk-card-default uk-padding uk-box-shadow-large uk-flex uk-flex-column">

    {# Описание пользователя #}
    <div class="uk-flex-1">
        <div class="uk-flex uk-flex-center uk-margin-small-bottom">
            <div class="lp-profile-avatar-container uk-position-relative">
                <img class="uk-position-absolute" src="{{ lpuser_info.avatar.path }}"
                     alt="Аватар пользователя {{ lpuser_info.name }}">
            </div>
        </div>

        <div class="uk-flex uk-flex-center">
            <h3 class="uk-margin-remove-bottom">{{ lpuser_info.name }}</h3>
        </div>
        <div class="uk-flex uk-flex-center uk-text-small uk-text-muted">
            Заходил {{ lpuser_info.user.last_seen|date('d.m.Y') }} в {{ lpuser_info.user.last_seen|date('H:i') }}
        </div>

        <div class="uk-flex uk-flex-column uk-margin-top">
            <h4>О себе</h4>
            <span>{{ lpuser_info.about }}</span>
        </div>

        <div class="uk-flex uk-flex-column uk-margin-top">
            <h4>Контакты</h4>
            <div>
                <span>Почта: </span>
                <a href="mailto:{{ lpuser_info.user.email }}">{{ lpuser_info.user.email }}</a>
            </div>
            <div>
                <span>Соц. сеть: </span>
                <a href="https://{{ lpuser_info.social }}">{{ lpuser_info.social }}</a>
            </div>
        </div>

    </div>
    {# Описание пользователя #}

    {# Кнопка ВЫХОД #}
    {% if lpuser_info.user_id == user.id %}
        <div class="uk-flex uk-flex-column">
            <button type="button" class="uk-button uk-button-default" data-request="onLogout">Выход</button>
        </div>
    {% endif %}
    {# Кнопка ВЫХОД #}
</aside>