{% set all_projects = project.project %}
{% set sprints = project.sprints %}
{% set tasks = project.tasks %}

<div class="uk-sprint-wrapper sprints-container">
    <ul id="id_sprints_container" uk-accordion="collapsible: false; multiple: true;">
        {% for sprint in sprints %}
            <li>
                {# заголовок #}
                <a class="uk-accordion-title uk-flex uk-flex-column" href="{{ all_projects.slug }}/sprints/{{ sprint.id }}">
                    <div class="uk-flex uk-flex-middle">
                        <span class="sprint-name uk-margin-small-right">{{ sprint.name }}</span>
                        <span class="sprint-period lp-text-smaller uk-text-muted">
                            [{{ sprint.date_start|date("d.m.Y") }} - {{ sprint.date_finish|date("d.m.Y") }}]
                        </span>
                    </div>
                    <div class="uk-margin-small-top uk-margin-small-bottom" uk-dropdown="mode: hover; pos: left; delay-hide=100;">
                        <a href="{{ all_projects.slug }}/sprints/{{ sprint.id }}">Перейти к задачам</a>
                    </div>
                </a>

                {# содержимое #}
                <div class="uk-accordion-content tasks-container uk-margin-small-left uk-margin-remove-top uk-padding-small"
                     uk-sortable="group: tasks-container; cls-empty: task-in-sprint-placeholder; animation: 0"
                     cls-placeholder="task-cls-placeholder"
                     data-container-name="sprint"
                     data-id="{{ sprint.id }}"
                     id="id_sprint_id{{ sprint.id }}"
                >
                    {% if sprint.tasks|length > 0 %}
                        {% for task in sprint.tasks %}
                            {% if (task.task_type_id != 2) %}
                                <div class="task uk-flex uk-flex-middle uk-flex-between uk-card uk-card-default
                                    uk-card-body {{ task.task_priority.css }} {{ task.task_type.css }} "
                                     id="id_task_{{ task.id }}"
                                     data-id="{{ task.id }}"
                                     data-worker="{{ task.worker_id }}"
                                     {% if task.is_tracked %}uk-icon="forward"{% endif %}
                                >
                                    <div class="task-name {% if task.task_state_id == 5 %} task_done {% endif %} uk-flex-1"
                                         uk-toggle="target: #task_editor_v2"
                                    >
                                        {{ task.name }}
                                    </div>
                                    <div class="task-users-container uk-flex uk-flex-middle">
                                        {% if task.worker %}
                                            <div class="task-user-wrapper">
                                                <a href="/users/{{ task.worker.id }}" class="task-worker-block">
                                                    <img class="uk-margin-small-right" src="{{ task.worker.avatar.path }}">
                                                </a>
                                            </div>
                                        {% endif %}
                                        {% if task.lpuser.user_type_id == 2 %}
                                            <div class="task-user-wrapper">
                                                <a href="/users/{{ task.lpuser.id }}" class="task-lpuser-block">
                                                    <img class="uk-margin-small-right" src="{{ task.lpuser.avatar.path }}">
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}{# task.states[-1].is_visible #}
                        {% endfor %}{# for task in sprint.tasks #}
                    {% endif %}{# sprint.tasks|length > 0 #}
                </div>{# tasks-container #}
            </li>{# sprint #}
        {% endfor %}{# for sprint in sprints #}
    </ul>
</div>