{% set project = project.project %}
{% set access = profile.lpuser.access %}

<div class="uk-flex uk-flex-middle project-block-header">
    <span class="uk-h3 uk-margin-remove">Спринты</span>

    {% if access.acs_task >= 110 %}
        <div class="uk-inline">
            {# кнопка + #}
            <i class="lp-btn" uk-icon="icon: plus-circle; ratio: 1.25" id="btn_sprint_add"></i>

            {# форма добавления спринта #}
            <form class="form_add_task uk-box-shadow-large" uk-dropdown="mode: click"
                  data-request="onSprintAdd"
                  data-request-data data-request-validate data-request-flash
                  data-request-success="onProjectSprintShow(data)">

                <input type="hidden" name="user" value="{{ user.id }}">
                <input type="hidden" name="project" value="{{ project.slug }}">
                <div>
                    <div>
                        <label>
                            <span>Спринт</span>
                            <input class="uk-input" type="text" name="sprint_name" placeholder="Укажите название">
                        </label>
                        <span data-validate-for="sprint_name"></span>

                        <label>
                            <span>Цель</span>
                            <textarea class="uk-input" type="text" name="sprint_descr" placeholder="Укажите цель"></textarea>
                        </label>
                        <span data-validate-for="sprint_descr"></span>

                        <label>
                            <span>Начало</span>
                            <input class="uk-input" type="date" name="sprint_start" required>
                        </label>
                        <span data-validate-for="sprint_start"></span>

                        <label>
                            <span>Окончание</span>
                            <input class="uk-input" type="date" name="sprint_finish" required>
                        </label>
                        <span data-validate-for="sprint_finish"></span>

                    </div>
                    <div class="uk-flex uk-float-right">
                        <button class="uk-button-small uk-button-primary" type="submit">✓</button>
                        <button class="uk-button-small uk-button-default uk-close" type="reset">↻</button>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
</div>