{% set project = project.project %}
{% set tasks = project.tasks %}

<div class="tasks-container"
     uk-sortable="group: tasks-container"
     cls-placeholder="task-cls-placeholder"
     data-container-name="backlog"
     id="id_backlog_container">

    {% for task in tasks %}
        {% if not task.sprint_id and task.task_type_id != 2 %}
            <div class="task uk-flex uk-flex-middle uk-card uk-card-default uk-card-body uk-margin-small-bottom
                {% if task.task_state_id == 5 %} task_done {% endif %}
                {{ task.task_priority.css }} {{ task.task_type.css }}"
                 id="id_task_{{ task.id }}"
                 uk-toggle="target: #task_editor_v2"
                 data-id="{{ task.id }}"
                 data-worker="{{ task.worker_id }}"
                 {% if task.is_tracked %}uk-icon="forward"{% endif %}
            >
                {{ task.name }}
            </div>
        {% endif %}{# task.states.is_visible #}
    {% endfor %}{# for task in tasks #}
</div>{# tasks-container #}