{% set access = profile.lpuser.access %}

<div class="uk-flex uk-flex-middle project-block-header">
    <span class="uk-h3 uk-margin-remove">Бэклог</span>

    {% if access.acs_task >= 110 %}
        <div class="uk-inline">
            {# кнопка + #}
            <i class="lp-btn" uk-icon="icon: plus-circle; ratio: 1.25" id="btn_task_add"></i>

            {# форма добавления задачи #}
            <form class="form_add_task uk-box-shadow-large" uk-dropdown="mode: click"
                  data-request="onTaskAdd"
                  data-request-data
                  data-request-validate
                  data-request-flash
                  data-request-success="onProjectTaskShow(data)">
                {% partial 'blocks/repeated/taskAdd' %}
            </form>
        </div>
    {% endif %}
</div>