title = "Главная"
url = "/"
layout = "default"
is_hidden = 0

[account]
redirect = "categories"
paramCode = "code"
forceSecure = 0
requirePassword = 0
==
<?php
function onEnd() {
    if (\Auth::getUser()) return \Redirect::to('/categories');
}
?>
==
<div class="uk-overlay-primary uk-position-cover"></div>
<div class="uk-overlay uk-position-center uk-light tzq-auth-form">

    <div class="uk-flex uk-flex-row uk-flex-center">
        <h3></h3>
        <h3 class="uk-text-muted">free</h3>
        <span class="uk-heading-small">Lance</span>
        <h3 class="uk-text-muted">re</h3>
        <span class="uk-heading-small">Port</span>
    </div>

    {% partial 'userAuth/signin' %}

</div>