<form class="uk-flex uk-flex-column uk-flex-between uk-height-1-1"
      data-request="onTaskStorySave"
      data-request-data
      data-request-validate
      data-request-flash
      data-request-success="onTaskStoryUpdateView(data)"
>
    <div class="uk-flex uk-flex-column uk-flex-1">
        {% partial 'modals/task_editor_v2/menu/items/task_story/fields' %}
    </div>
</form>