<form class="uk-flex uk-flex-column uk-flex-between uk-height-1-1"
      data-request="onTaskReportSave"
      data-request-data
      data-request-validate
      data-request-flash
      data-request-success="onTaskReportUpdateView(data)"
>
    <div class="uk-flex-1">
        {% partial 'modals/task_editor_v2/menu/items/task_report/fields' %}
    </div>

    {% partial 'modals/task_editor_v2/menu/buttons' %}
    {% partial 'modals/task_editor_v2/menu/hidden_inputs' %}
</form>