{% set task_info = task.task %}

<main class="main_task">
    {# загрузка редактора #}
    <script src="{{ 'assets/ckeditor/ckeditor.js'|theme }}"></script>

    <div class="lp-task-container">
        <div class="uk-card uk-card-default uk-margin-bottom uk-box-shadow-large"
             data-id="{{ task_info.id }}"
             data-user="{{ task_info.lp_user }}"
        >

            <div class="uk-card-header uk-padding-remove uk-text-small">
                <div class="uk-flex uk-flex-middle uk-flex-between uk-padding-small lp-padding-lr">
                    <div class="uk-flex uk-flex-middle">
                        <a href="/users/{{ task_info.lpuser.id }}"
                           class="user-info uk-margin-right image-relative-wrapper user-info-wrapper user-info-avatar-dark">
                            {% if task_info.lpuser.avatar.path %}
                                <img class="user-info-avatar"
                                     src="{{ task_info.lpuser.avatar.path }}"
                                     alt="Аватар пользователя {{ task_info.lpuser.name }}">
                            {% else %}
                                <img class="user-info-avatar"
                                     src="{{ 'assets/images/project_thumb.png'|theme }}"
                                     alt="Аватар-заглушка пользователя {{ task_info.lpuser.name }}">
                            {% endif %}

                            <div class="user-info-name uk-link" id="user_name">{{ task_info.lpuser.name }}</div>

                        </a>
                        <div class="uk-text-small uk-margin-right uk-text-muted">
                            Обновлен {{ task_info.updated_at|date('d.m.Y') }} в {{ task_info.updated_at|date('H:i') }}
                        </div>
                    </div>
                    <span class="lp-badge-rounded {{ task_info.task_type.css }}">
                            {{ task_info.task_type.name }}
                    </span>
                </div>
            </div>

            <div class="uk-card-body lp-report-body uk-padding-small lp-padding-lr">
                <h3 class="uk-card-title">{{ task_info.name }}</h3>
                {% if task_info.lpuser.user_type_id == 2 %}
                    <div class="uk-card-badge uk-label"></div>
                {% endif %}
                {{ task_info.result_text|raw }}
            </div>

            <div class="uk-card-footer lp-padding-lr">
                <h3 class="uk-h3">Обсуждение</h3>

                <div class="lp-comments" style="padding-right: 10px">
                    {% import 'blocks/task/comment' as tree %}
                    {{ tree.list(task_info.comments) }}
                </div>

                {% partial 'blocks/task/replyInput' %}
            </div>
        </div>
    </div>

    {# Шаблон ответа на комментарий #}
    {% partial 'blocks/task/comment_reply_template' %}
</main>