{% macro list(items, is_profile) %}
    {% import _self as tree %}
    <ul class="uk-comment-list uk-margin-remove-vertical lp-padding-comments">
        {% for item in items %}
            <li class="uk-margin" id="list_comment_item_{{ item.id }}">
                <div class="uk-comment lp-border-light uk-background-muted">

                    {# Заголовок #}
                    <div class="lp-comment-header uk-flex uk-flex-between uk-padding-small uk-padding-remove-bottom lp-padding-lr">
                        {# Тело #}
                        <div class="lp-comment-body uk-flex-1 uk-margin-remove-top uk-margin-right">
                            {{ item.text|raw }}
                        </div>
                        {# Тело #}
                        <a href="/users/{{ item.lpuser_id }}"
                           class="user-info image-relative-wrapper user-info-wrapper user-info-avatar-dark" style="top: -5px;">
                            {% if item.lpuser.avatar.path %}
                                <img class="user-info-avatar"
                                     src="{{ item.lpuser.avatar.path }}"
                                     alt="Аватар пользователя {{ item.lpuser.name }}">
                            {% else %}
                                <img class="user-info-avatar"
                                     src="{{ 'assets/images/project_thumb.png'|theme }}"
                                     alt="Аватар-заглушка пользователя {{ item.lpuser.name }}">
                            {% endif %}

                            <div class="user-info-name uk-link" id="user_name">{{ item.lpuser.name }}</div>
                        </a>
                    </div>
                    {# Заголовок #}

                    {# Пятки #}
                    <div class="lp-comment-bottom  uk-padding-small uk-padding-remove-top lp-padding-lr">
                        <div class="uk-flex uk-flex-between uk-flex-middle">
                            <div class="uk-text-small uk-text-muted uk-flex uk-flex-middle">
                                {% if is_profile %}
                                    <a href="{{ '/projects/' ~ item.task.project.slug ~ '/tasks/' ~ item.task_id }}#{{ item.id }}" class="uk-margin-right" id="{{ item.id }}">#{{ item.id }}</a>
                                {% else %}
                                    <a href="#{{ item.id }}" class="uk-margin-right" id="{{ item.id }}">#{{ item.id }}</a>
                                {% endif %}
                                {{ item.updated_at|date('d.m.Y') }} в {{ item.updated_at|date('H:i') }}
                            </div>
                            {% if is_profile %}
                                <button type="button"
                                        class="uk-button uk-button-link"
                                        data-request="onCommentRead"
                                        data-request-success="onRemoveReadComment(data)"
                                        data-request-data="id: {{ item.id }}"
                                >
                                    Прочитано
                                </button>
                            {% else %}
                                <button type="button" class="lp_comment_reply uk-button uk-button-link" data-id="{{ item.id }}">Ответить</button>
                            {% endif %}
                        </div>
                        <div id="comment_reply_editor_container__{{ item.id }}">

                        </div>
                    </div>

                    {# Пятки #}
                </div>

                {% if item.children %}
                    {{ tree.list(item.children, is_profile) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}