{% set lpuser_info = profile.lpuser %}

<form class="uk-flex uk-flex-middle"
      data-request-validate
      data-request-flash
      data-request="onSendMessage"
      data-request-success="onCommentDataShow(data)"
      data-request-data="task_id: '{{ task.task.id }}', project_slug: '{{ project.project.slug }}', user_id: '{{ user.id }}'"
>
    <div class="uk-flex uk-flex-column uk-flex-1">
        <textarea id="lp_new_comment"
                  class="uk-input lp-offcanvas-input"
                  name="comment_text"
                  placeholder="Введите сообщение...">
        </textarea>

        <div class="uk-flex uk-flex-right uk-margin-top">
            <button type="submit"
                    class="uk-button uk-button-default lp-border-primary"
                    uk-icon="comment"
            ></button>
        </div>
    </div>
</form>