<label>
    <span>Прогресс</span>
    <progress class="uk-progress" value="100" max="100" id="te2__progress"></progress>
</label>


<div class="uk-flex">
    <span>Подзадачи</span>
    <i class="lp-btn" uk-icon="plus-circle" id="id_btn_subtask_add"></i>
    <i class="lp-btn" uk-icon="settings" id="id_btn_show_settings"></i>
</div>

<div class="subtask-container" id="te2__subtask_container" uk-sortable>
    {# подзадачи #}
</div>