{# checkbox для публикации #}
<label class="non-select">
    <span>Отчёт</span>
    <span class="lp-validate-message" data-validate-for="in_report"></span>
    <input type="checkbox" class="uk-checkbox lp-offcanvas-input lp-offcanvas-checkbox" name="in_report" id="te2__in_report"> Показать в отчёте
</label>


{# редактор #}
<label>
    <span>Редактор</span>
    <textarea name="result_text" id="te2__result_text" rows="25" cols="80" placeholder="Описание для отчёта">

    </textarea>
</label>


{# загрузка редактора #}
<script src="{{ 'assets/ckeditor/ckeditor.js'|theme }}"></script>