[session]
security = "all"
redirect = "categories"
==
{% component 'session' %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ this.page.title }}</title>

    {% styles %}

    <link href="{{ 'assets/css/uikit.min.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/lanceport.css'|theme }}" rel="stylesheet">

    <script src="{{ 'assets/js/uikit.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/uikit-icons.min.js'|theme }}"></script>
</head>
<body data-src="{{ 'assets/images/background.jpg'|theme }}" uk-img>
{% page %}
{% partial 'blocks/repeated/hidden' %}


<script src="{{ 'assets/js/jquery-3.4.1.min.js'|theme }}"></script>
<script src="{{ 'assets/js/lpCommon.js'|theme }}"></script>
<script src="{{ 'assets/js/lanceportWork.js'|theme }}"></script>
<script src="{{ 'assets/js/lanceportShows.js'|theme }}"></script>
<script src="{{ 'assets/js/lanceportClicks.js'|theme }}"></script>
<script src="{{ 'assets/js/lanceportDragnDrops.js'|theme }}"></script>
{% framework extras %}
{% scripts %}
</body>
</html>