<ul class="uk-switcher uk-margin uk-margin-remove-bottom">
    <li class="uk-height-1-1">{% partial 'modals/task_editor_v2/menu/items/task_main' %}</li>
    <li class="uk-height-1-1">{% partial 'modals/task_editor_v2/menu/items/task_status' %}</li>
    <li class="uk-height-1-1">{% partial 'modals/task_editor_v2/menu/items/task_report' %}</li>
    <li class="uk-height-1-1">{% partial 'modals/task_editor_v2/menu/items/task_subtasks' %}</li>
    <li class="uk-height-1-1">{% partial 'modals/task_editor_v2/menu/items/task_tags' %}</li>
    <li class="uk-height-1-1">{% partial 'modals/task_editor_v2/menu/items/task_parent' %}</li>
    <li class="uk-height-1-1">{% partial 'modals/task_editor_v2/menu/items/task_story' %}</li>
</ul>