<div class="uk-flex uk-flex-between">
    <button type="submit"
            class="uk-button uk-button-danger te2_save"
            data-request="onTaskDelete"
            data-request-success="onShowTaskDelete(data)"
            data-flash
            data-request-confirm="Вы уверены, что хотите навсегда удалить задачу?"
            uk-icon="trash"
    ></button>
<div>
    <a class="uk-button uk-button-default te2_button_comments uk-margin-right" href="" uk-icon="comments">Обсуждение </a>
    <button type="submit" class="uk-button uk-button-primary te2_save">Сохранить</button>
</div>
</div>