<ul class="uk-tab-left uk-margin-remove-bottom" uk-tab="animation: uk-animation-slide-left-small; duration: 100;">
    <li class="uk-active te2_menu_item" data-item="0"><a href="#0"><span class="uk-h3">Описание задачи</span></a></li>
    <li class="te2_menu_item" data-item="1"><a href="#"><span class="uk-h3">Статус задачи</span></a></li>
    <li class="te2_menu_item" data-item="2"><a href="#"><span class="uk-h3">Отчёт</span></a></li>
    <li class="te2_menu_item" data-item="3"><a href="#"><span class="uk-h3">Подзадачи</span></a></li>
    <li class="te2_menu_item" data-item="4"><a href="#"><span class="uk-h3">Теги</span></a></li>
    <li class="te2_menu_item" data-item="5"><a href="#"><span class="uk-h3">Родитель</span></a></li>
    <li class="te2_menu_item" data-item="6"><a href="#"><span class="uk-h3">История</span></a></li>
</ul>