<div class="uk-flex-1 uk-width" id="te2__story_container">
    <div class="lp-story-timeline uk-width" id="te2__story_container_content">

    </div>
</div>
<div class="uk-margin-top" id="te2__story_container_paginator"></div>