{% set report_info = report.report %}

<link rel="stylesheet" href="{{ 'assets/css/highlight/atom-one-light.css'|theme }}">
<script src="{{ 'assets/js/highlight/highlight.pack.js'|theme }}"></script>
<script>hljs.initHighlightingOnLoad();</script>


<main class="main_report">
    <div class="wrapper uk-margin-top">

        {% for task in report_info %}
            <div class="uk-card uk-card-default uk-margin-bottom uk-box-shadow-large"
                 data-id="{{ task.id }}"
                 data-user="{{ task.lp_user }}"
            >

                <div class="uk-card-header uk-padding-remove uk-text-small">
                    <div class="uk-flex uk-flex-middle uk-flex-between uk-padding-small lp-padding-lr">
                        <div class="uk-flex uk-flex-middle">
                            <a class="user-info uk-margin-right image-relative-wrapper user-info-wrapper user-info-avatar-dark" href="/users/{{ task.lpuser.id }}">
                                {% if task.lpuser.avatar.path %}
                                    <img class="user-info-avatar"
                                         src="{{ task.lpuser.avatar.path }}"
                                         alt="Аватар пользователя {{ task.lpuser.name }}">
                                {% else %}
                                    <img class="user-info-avatar"
                                         src="{{ 'assets/images/project_thumb.png'|theme }}"
                                         alt="Аватар-заглушка пользователя {{ task.lpuser.name }}">
                                {% endif %}
                            </a>

                            <a href="/users/{{ task.lpuser.id }}" class="user-info-name uk-link" id="user_name">{{ task.lpuser.name }}</a>
                        </div>
                        <span class="lp-badge-rounded {{ task.task_type.css }}">
                            {{ task.task_type.name }}
                        </span>
                    </div>
                </div>

                <div class="uk-card-body lp-report-body uk-padding-small lp-padding-lr">
                    <h3 class="uk-card-title">{{ task.name }}</h3>
                    {% if task.lpuser.user_type_id == 2 %}
                        <div class="uk-card-badge uk-label"></div>
                    {% endif %}
                    {{ task.result_text|raw }}
                </div>

                <div class="uk-card-footer lp-padding-lr uk-flex uk-flex-between">
                    <div class="uk-text-small uk-margin-right uk-text-muted">
                        Обновлен {{ task.updated_at|date('d.m.Y') }} в {{ task.updated_at|date('H:i') }}
                    </div>
                    <a class="uk-float-right" href="/projects/{{ project.project.slug }}/tasks/{{ task.id }}" uk-icon="icon:comments; ratio:1.1">Обсудить </a>
                </div>
            </div>
        {% endfor %}

        <ul class="uk-flex uk-pagination uk-flex-middle" uk-margin>
            <li><a href="#">Назад</a></li>
            {% set page_count = report_info|length %}
            {% set page_count = (page_count/10)|round(0, 'floor') %}
            {% for i in 1..page_count+1 %}
                <li><a href="#">{{ i }}</a></li>
            {% endfor %}
            <li class="uk-margin-auto-left"><a href="#">Вперед</a></li>
        </ul>
    </div>
</main>