{% set all_categories = categories.categories %}
{% set lpuser_info = profile.lpuser %}

<main class="main_categories uk-padding uk-background-cover">
    <ul uk-accordion="collapsible: false; multiple: true" id="id_category_container">
        {% set projects_count = 0 %} {# Если он останется равным 0, то "Нет доступных проектов" #}
        {% set flag_first = true %} {# Первая категория всегда открыта #}
        {% for category in all_categories %}
            {% if (category.projects|length > 0 and lpuser_info.user_type.id != 1) or (lpuser_info.user_type.id == 1) %}
                <li {% if flag_first %}class="uk-open"{% endif %} id="id_category_id{{ category.id }}">
                    {% set flag_first = false %}

                    <div class="uk-accordion-title">
                        <a class="uk-text-secondary" href="/categories/{{ category.slug }}" title="{{ category.description }}" id="id_category_url{{ category.id }}">
                            {{ category.name }} [{{ category.projects|length }} пр.]
                        </a>

                        {# редактор (карандаш) категории #}
                        {% if lpuser_info.user_type.id == 1 %}  {# Только для user_type владелец #}
                            <i class="category_load" href="#modal_category_load" uk-icon="pencil" data-id="{{ category.id }}" uk-toggle></i>
                        {% endif %}
                        {# редактор (карандаш) категории #}
                    </div>

                    <div class="uk-accordion-content project-list-container">
                        {%  if category.projects|length > 0 %}
                            {% for project in category.projects %}
                                {% if project.lpusers|length > 0 %}
                                    {% set projects_count = projects_count + 1 %}

                                    <a class="project-item uk-card uk-card-default" href="./projects/{{ project.slug }}" title="{{ str_limit(project.description, 100, '...') }}">
                                        <div class="project-item-image">
                                            {% if project.project_image.path %}
                                                <img src="{{ project.project_image.path }}" alt="Изображение проекта{{ project.name }}">
                                            {% else %}
                                                <img src="{{ 'assets/images/project_thumb.png'|theme }}" alt="Изображение проекта {{ project.name }}">
                                            {% endif %}
                                        </div>
                                        <div class="project-item-name">
                                            <span>{{ project.name }}</span>
                                        </div>
                                    </a>

                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {# добавление проекта #}
                        {% if lpuser_info.user_type.id == 1 %}  {# Только для user_type владелец #}
                            <a class="project-item project_item_add uk-card uk-card-default uk-flex-center" data-id="{{ category.id }}" href="#modal_project_new" uk-toggle>
                                <i uk-icon="icon: plus; ratio: 2.5"></i>
                            </a>
                        {% endif %}
                        {# добавление проекта #}

                    </div>
                </li> {# категория #}
            {% endif %}
        {% endfor %}
    </ul>
    {% if projects_count == 0 %}
        <span class="uk-h2">Нет доступных проектов</span>
    {% endif %}
</main>