==
{% set lpuser_info = profile.lpuser %}

<header class="header_project uk-background-secondary">
    <nav class="uk-background-secondary uk-light" uk-navbar>
        <div class="uk-navbar-left uk-margin-left uk-breadcrumb">
            <a href="/" uk-icon="home"></a>
            <span>{{ this.page.title }}</span>
        </div>

        {# Добавить категорию #}
        {% if lpuser_info.user_type.id == 1 %} {# Только для user_type владелец #}
            <div class="uk-navbar-left uk-margin-left">
                <a class="uk-button uk-button-default" href="#modal_category_new" uk-toggle>Добавить новую</a>
            </div>
        {% endif %}
        {# Добавить категорию #}

        <div class="uk-navbar-right">
            {% partial 'blocks/header/user_avatar' %}
        </div>
    </nav>
</header>
