{% set lpuser_info = profile.lpuser %}

<form class="uk-flex uk-flex-last uk-margin-right"
      data-request-validate
      data-request-flash
      data-request-files
      data-request="onLpuserDataSave"
      data-request-data="id: {{ lpuser_info.id }}"
>
    <div class="uk-width-1-2@xl">

        <div class="uk-flex">
            <label class="non-select uk-margin-right uk-flex-1">
                <span>Псевдоним</span>
                <span class="lp-validate-message" data-validate-for="name"></span>
                <input type="text" class="uk-input lp-offcanvas-input" name="name" placeholder="Ваш псевдоним" value="{{ lpuser_info.name }}">
            </label>


            <label class="non-select">
                <span>Инициалы</span>
                <span class="lp-validate-message" data-validate-for="name"></span>
                <input type="text" class="uk-input lp-offcanvas-input" name="initials" placeholder="Ваш псевдоним" value="{{ lpuser_info.initials }}" maxlength="3">
            </label>
        </div>

        <label class="non-select">
            <span>Ссылка на соцсеть</span>
            <span class="lp-validate-message" data-validate-for="name"></span>
            <input type="text" class="uk-input lp-offcanvas-input" name="social" placeholder="Ваш псевдоним" value="{{ lpuser_info.social }}">
        </label>


        <label class="non-select">
            <span>О себе</span>
            <span class="lp-validate-message" data-validate-for="about"></span>
            <textarea class="uk-textarea lp-offcanvas-textarea" name="about" cols="333" rows="10" id="profile__about">{{ lpuser_info.about }}</textarea>
        </label>

        <div class="uk-flex uk-flex-right">
            <button type="submit" class="uk-button uk-button-default lp-border-primary">Сохранить</button>
        </div>
    </div>

    <div class="uk-margin-left uk-flex uk-flex-column">
        <div class="lp-profile-avatar-image-container">
            {% if lpuser_info.avatar.path  %}
                <img class="lp-profile-avatar-image"
                     src="{{ lpuser_info.avatar.path }}"
                     id="id_project_image"
                     alt="Изображение"
                     width="125px" height="125px"
                >
            {% else %}
                <img class="lp-profile-avatar-image"
                     src="{{ 'assets/images/project_thumb.png'|theme }}"
                     id="id_project_image"
                     alt="Изображение"
                     width="125px" height="125px"
                >
            {% endif %}
        </div>

        <label>
            <div class="js-upload" uk-form-custom>
                <button class="uk-button uk-button-default" type="button" tabindex="-1">Выбрать</button>
                <input type="file" name="avatar" id="id_project_new">
            </div>
        </label>
    </div>
</form>