<form class="uk-flex uk-margin-right"
      data-request-validate
      data-request-flash
      data-request-files
      data-request="onRealUserDataSave"
      data-request-data="id: {{ lpuser_info.id }}"
>
    <div class="uk-width-1-2@xl">
        <div class="uk-flex">
            <label class="non-select uk-flex-1 uk-margin-small-right">
                <span>Имя</span>
                <span class="lp-validate-message" data-validate-for="name"></span>
                <input type="text" class="uk-input lp-offcanvas-input" name="name" placeholder="Ваше имя" value="{{ user.name }}">
            </label>

            <label class="non-select uk-flex-1 uk-margin-small-left">
                <span>Фамилия</span>
                <span class="lp-validate-message" data-validate-for="name"></span>
                <input type="text" class="uk-input lp-offcanvas-input" name="surname" placeholder="Ваша фамилия" value="{{ user.surname }}">
            </label>
        </div>

        <div class="uk-flex">
            <label class="non-select uk-flex-1 uk-margin-small-right">
                <span>Логин</span>
                <span class="lp-validate-message" data-validate-for="name"></span>
                <input type="text" class="uk-input lp-offcanvas-input" name="username" placeholder="Ваш логин" value="{{ user.username }}">
            </label>

            <label class="non-select uk-flex-1 uk-margin-small-left">
                <span>Почта</span>
                <span class="lp-validate-message" data-validate-for="name"></span>
                <input type="email" class="uk-input lp-offcanvas-input" name="email" placeholder="Ваша почта" value="{{ user.email }}">
            </label>
        </div>


        <label class="non-select">
            <span>Старый пароль</span>
            <span class="lp-validate-message" data-validate-for="name"></span>
            <input type="password" class="uk-input lp-offcanvas-input" name="oldpass" placeholder="Введите старый пароль" >
        </label>

        <label class="non-select">
            <span>Новый пароль</span>
            <span class="lp-validate-message" data-validate-for="name"></span>
            <input type="password" class="uk-input lp-offcanvas-input" name="newpass" placeholder="Введите новый пароль">
        </label>

        <label class="non-select">
            <span>Повторите новый пароль</span>
            <span class="lp-validate-message" data-validate-for="name"></span>
            <input type="password" class="uk-input lp-offcanvas-input" name="newpass2" placeholder="Повторите новый пароль">
        </label>


        <div class="uk-flex uk-flex-right">
            <button type="submit" class="uk-button uk-button-default lp-border-primary">Сохранить</button>
        </div>
    </div>
</form>