==
<input type="hidden" name="user" value="{{ user.id }}">
<input type="hidden" name="project" value="{{ project.project.slug }}">
<input type="hidden" name="sprint" value="{{ sprint.sprint_info.id }}">
<input type="hidden" name="tracker" value="{{ not tracker.tracker == null }}">
<div>
    <div>
        <label>
            <span>Задача</span>
            <input class="uk-input" type="text" name="task_name" placeholder="Укажите название">
        </label>
        <span class="lp-validate-message" data-validate-for="task_name"></span>
    </div>
    <div class="uk-flex uk-float-right">
        <button class="uk-button-small uk-button-primary" type="submit">✓</button>
        <button class="uk-button-small uk-button-default uk-close" type="reset">↻</button>
    </div>
</div>