{% set project = project.project %}
{% set sprints = project.sprints %}
{% set tasks = project.tasks %}


<main class="main_project">
    <div class="lp_container tasks-col uk-padding-small uk-padding-remove-top uk-margin-left">
        {% partial 'blocks/page_project/parts/taskAdd' %}
        <hr class="uk-hr uk-margin-small">
        {% partial 'blocks/page_project/parts/taskContainer' %}
    </div>{# block-tasks #}


    <div class="lp_container sprints_col uk-padding-small uk-padding-remove-top uk-margin-left uk-margin-right">
        {% partial 'blocks/page_project/parts/sprintAdd' %}
        <hr class="uk-hr uk-margin-small">
        {% partial 'blocks/page_project/parts/sprintContainer' %}
    </div>{# sprints_container #}


    <div id="id_prj_info"
         data-project="{{ project.id }}"
         data-user="{{ user.id }}"
         hidden>
    </div>
</main>