==
<header class="uk-background-secondary header_project">
    <nav class="uk-background-secondary uk-light" uk-navbar>
        <div class="uk-navbar-left uk-margin-left">
            <div class="uk-breadcrumb">
                <a href="/" uk-icon="home"></a>
                <a href="/categories">Все проекты</a>
                <span class="uk-flex uk-flex-middle lp-btn" uk-toggle="target: #offcanvas_project_info">
                    <span class="header-project-title" style="font: inherit;">{{ project.project.name }}</span>
                    {% if profile.lpuser.access.acs_project == 777 %}
                        <i uk-icon="pencil"  id="id_project_{{ project.project.id }}"></i>
                    {% endif %}
                </span>
            </div>

            <div class="uk-margin-large-left">
                <span class="uk-margin-small-right">Модули:</span>
                <a class="uk-margin-small-right" href="/projects/{{ project.project.slug }}/tracker" title="Трекер" uk-icon="icon: git-branch; ratio: 1.1">
                    Трекер
                </a>
                <a class="uk-margin-small-right" href="/projects/{{ project.project.slug }}/report" title="Отчёт" uk-icon="icon: file-text; ratio: 1.1">
                    Лента отчёта
                </a>
            </div>
        </div>

        <div class="uk-navbar-right">
            {% partial 'blocks/repeated/taskViewSettingsParts/taskSize' %}
            {% partial 'blocks/repeated/taskViewSettingsParts/taskPriorities' %}
            {% partial 'blocks/repeated/taskViewSettingsParts/taskTypes' %}

            {% partial 'blocks/header/user_avatar' %}
        </div>
    </nav>
</header>