<ul class="uk-switcher uk-margin uk-flex uk-flex-column uk-flex-1">
    <li>{% partial 'offsets/project_info/menu/items/about_project' %}</li>

    {% if profile.lpuser.access.acs_project == 777 %}
        <li class="uk-flex uk-flex-column uk-flex-1">{% partial 'offsets/project_info/menu/items/config_project' %}</li>
    {% endif %}
</ul>