<ul class="uk-subnav uk-subnav-pill uk-margin-remove-top" uk-switcher>
    <li class="uk-active lp-switch-item"><a href="#">О проекте</a></li>
    {% if profile.lpuser.access.acs_project == 777 %}
        <li class="lp-switch-item"><a href="#">Настроить</a></li>
    {% endif %}
</ul>