==
{% set track = tracker.tracker_info.tasks %}
<main class="main_tracker">
    <div class="uk-overflow-auto uk-margin-top">
        <div class="uk-flex uk-flex-between uk-margin-bottom">
            <div class="uk-flex uk-flex-middle">
                <div class="uk-search uk-search-default uk-margin-right">
                    <span class="icon-fix-modal" uk-search-icon></span>
                    <input class="uk-search-input lp-offcanvas-input" type="search" placeholder="Найти...">
                </div>
                <label class="uk-flex uk-text-baseline">
                    <input class="uk-checkbox" type="checkbox" >Закрытые задачи
                </label>
            </div>


            <div>
                <button class="uk-button uk-button-primary" type="button">Создать задачу</button>
                {# форма добавления задачи #}
                <form class="form_add_task uk-box-shadow-large" uk-dropdown="mode: click"
                      data-request="onTaskAdd"
                      data-request-data
                      data-request-validate
                      data-request-flash
                      data-request-success="onSprintTaskShow(data)"
                >

                    {% partial 'blocks/repeated/taskAdd' %}
                    <input type="hidden" name="tracker" value="1">
                </form>
            </div>

        </div>

        <table class="uk-table uk-table-responsive uk-table-small uk-table-hover
                        uk-table-middle uk-table-divider uk-table-striped uk-margin-remove-top"
               id="tracker_table">

            <thead>
            <tr class="lp-pointer non-select">
                <th class="tracker_table_th uk-table-shrink" data-col="0" data-sort-type="0">Статус</th>
                <th class="tracker_table_th uk-table-expand" data-col="1" data-sort-type="0">Задача</th>
                <th class="tracker_table_th uk-table-shrink uk-text-center" data-col="2" data-sort-type="0">Тип</th>
                <th class="tracker_table_th uk-table-shrink" data-col="3" data-sort-type="0">Приоритет</th>
                <th class="tracker_table_th uk-table-shrink" data-col="4" data-sort-type="0">Создана</th>
                <th class="tracker_table_th uk-table-shrink uk-text-primary" data-col="5" data-sort-type="0">Обновлено</th>
                <th class="tracker_table_th uk-table-shrink uk-text-center" data-col="6" data-sort-type="0">Готово</th>
            </tr>
            </thead>

            <tbody id="tracker_task_container">
            {% for task in track.items %}

                <tr class="task task-tr-fix uk-text-small" id="id_task_{{ task.id }}"
                    data-id="{{ task.id }}"
                    data-worker="{{ task.lpuser_id }}"
                    data-priority="{{ task.task_priority.level }}"
                    data-task-type="{{ task.task_type.id }}"
                    data-date="{{ task.updated_at|date("U") }}"
                >
                    <td class="uk-text-shrink uk-text-center" data-sort="{{ task.task_state_id }}">
                        {{ (task.task_state_id-1) / (tracker.tracker_info.states_count-1) * 100 }}%
                    </td>
                    <td class="uk-flex uk-flex-column uk-text" data-sort="{{ task.name }}">
                        <div>{{ task.name }}
                            {% for tag in task.tags %}
                                <span class="uk-badge lp- lp-badge-rounded">{{ tag.name|lower }}</span>
                            {% endfor %}
                        </div>
                        <div class="uk-text-meta">{{ task.descr }}</div>
                        <a href="/users/{{ task.lpuser.id }}" class="uk-text-meta lp-text-065">
                            by {{ task.lpuser.name }}
                        </a>
                    </td>
                    <td class="uk-text-shrink" data-sort="{{ task.task_type.id }}">
                        <span class="lp-badge-rounded {{ task.task_type.css }}">
                            {{ task.task_type.name }}
                        </span>
                    </td>
                    <td class="uk-text-shrink" data-sort="{{ task.task_priority.level }}">
                        <span class="lp-badge-rounded {{ task.task_priority.css }}">
                            {{ task.task_priority.name }}
                        </span>
                    </td>
                    <td class="uk-text-shrink" data-sort="{{ task.created_at }}">
                        {{ task.created_at|date('d.m.Y') }}
                    </td>
                    <td class="uk-text-shrink" data-sort="{{ task.updated_at }}">
                        {{ task.updated_at|time_since() }}
                    </td>
                    <td>
                        <button class="tracker-task-del uk-button-small uk-button-danger
                            {% if task.is_closed %} lp-bgc-success {% endif %} uk-text-center"
                                data-sort="{{ task.is_closed }}"
                        >✓</button>
                    </td>
                </tr>

            {% endfor %}
            </tbody>

        </table>

        <ul class="uk-flex uk-pagination uk-flex-middle" uk-margin>
            <li><a href="?page={{ track.currentPage-1 }}">Назад</a></li>

            {% for i in 1..track.lastPage %}
                <li {% if track.currentPage == i %}class="uk-active"{% endif %}><a href="?page={{ i }}">{{ i }}</a></li>
            {% endfor %}

            <li class="uk-margin-auto-left">
                <a href="{% if track.currentPage < track.lastPage %}?page={{ track.currentPage+1 }}{% endif %}"
                >Вперед</a>
            </li>
        </ul>
    </div>
</main>