<label class="non-select">
    <span>Исполнитель</span>
    <span class="lp-validate-message" data-validate-for="worker"></span>
    <select class="uk-select lp-offcanvas-input" name="worker" id="te2__worker">
    </select>
</label>


<label class="non-select">
    <span>Состояние</span>
    <span class="lp-validate-message" data-validate-for="task_state"></span>
    <select class="uk-select lp-offcanvas-input" name="task_state" id="te2__task_state">
    </select>
</label>


<label class="non-select">
    <span>Тип задачи</span>
    <span class="lp-validate-message" data-validate-for="task_type"></span>
    <select class="uk-select lp-offcanvas-input" name="task_type" id="te2__task_type">
    </select>
</label>


<label class="non-select">
    <span>Приоритет</span>
    <span class="lp-validate-message" data-validate-for="priority"></span>
    <select class="uk-select lp-offcanvas-input" name="priority" id="te2__priority">
    </select>
</label>


<label class="non-select">
    <span>Спринт</span>
    <span class="lp-validate-message" data-validate-for="sprint"></span>
    <select class="uk-select lp-offcanvas-input" name="sprint" id="te2__sprint">
    </select>
</label>