{% set lpuser_info = profile.lpuser %}

{# Новый проект #}
{% if lpuser_info.user_type.id == 1 %} {# Только для user_type владелец #}
    <div id="modal_project_new" uk-modal>
        <form class="uk-modal-dialog" data-request="onProjectNew" data-request-validate data-request-flash data-request-files data-request-success="onProjectNewShow(data)">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Новый проект</h2>
            </div>
            <div class="uk-modal-body">

                <label>
                    <span>Категория</span>
                    <span data-validate-for="category"></span>
                    <select class="uk-select" name="category" id="id_modal_project_new_category" required></select>
                </label>

                <label>
                    <span>Название</span>
                    <span data-validate-for="name"></span>
                    <input type="text" class="uk-input" name="name" placeholder="Как будет называться проект" required>
                </label>

                <label>
                    <span>Описание</span>
                    <span data-validate-for="description"></span>
                    <textarea class="uk-textarea" name="description" cols="200" rows="5" maxlength="1000" placeholder="Опишите проект"></textarea>
                </label>

                <label>
                    <span>Изображение</span>
                    <div class="js-upload" uk-form-custom>
                        <button class="uk-button uk-button-default" type="button" tabindex="-1">Выбрать изображение</button>
                        <input type="file" name="project_image" id="id_project_new">
                        <img class="project-item-image" src="{{ 'assets/images/project_thumb.png'|theme }}" id="id_project_image" alt="Изображение" width="66px" height="66px">
                    </div>
                </label>

                <label>
                    <span>Начало</span>
                    <span data-validate-for="date_start"></span>
                    <input type="date" class="uk-input" name="date_start">
                </label>

                <label>
                    <span>Планируемая дата завершения</span>
                    <span data-validate-for="date_finish"></span>
                    <input type="date" class="uk-input" name="date_finish">
                </label>

                <label>
                    <span>Дополнительно</span>
                    <span data-validate-for="extra"></span>
                    <input type="text" class="uk-input" name="extra" placeholder="Экстра поле">
                </label>

            </div>

            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Закрыть</button>
                <button class="uk-button uk-button-primary" type="submit">Сохранить</button>
            </div>
        </form>
    </div>
{% endif %}
{# Новый проект #}