{% set lpuser_info = profile.lpuser %}

{# Обновление категории #}
{% if lpuser_info.user_type.id == 1 %} {# Только для user_type владелец #}
    <div id="modal_category_load" uk-modal>
        <form class="uk-modal-dialog" data-request="onCategorySave" data-request-data data-request-validate data-request-flash data-request-success="onCategoryUpdate(data)">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Настройка категории</h2>
            </div>
            <div class="uk-modal-body">
                <input type="hidden" id="id_modal_category_load" name="id" value="0">

                <input type="text" class="uk-input" id="id_category_name_load" name="category_name" placeholder="Название категории" required>
                <span data-validate-for="category_name"></span>

                <textarea class="uk-textarea" id="id_category_description_load" name="category_description" cols="10" rows="10" maxlength="100" placeholder="Описание категории"></textarea>
            </div>

            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Закрыть</button>
                <button class="uk-button uk-button-primary" type="submit">Сохранить</button>
            </div>
        </form>
    </div>
{% endif %}
{# Обновление категории #}