==
{% set lpuser_info = profile.lpuser %}

<a class="user-info uk-padding-small" href="/users/{{ lpuser_info.id }}">
    <div class="user-info-wrapper image-relative-wrapper">
        {% if lpuser_info.avatar.path  %}
            <img class="user-info-avatar lp-btn"
                 src="{{ lpuser_info.avatar.path }}"
                 id="user_avatar"
                 alt="Изображение"
            >
        {% else %}
            <img class="user-info-avatar lp-btn"
                 src="{{ 'assets/images/project_thumb.png'|theme }}"
                 id="user_avatar"
                 alt="Изображение"
            >
        {% endif %}
    </div>
</a>
