<label>
    <span>Теги</span>
    <div class="uk-flex">
        <input class="uk-input lp-offcanvas-input" type="text" id="te2__tag_input">
        <div class="uk-flex uk-float-right">
            <button class="uk-button-small uk-button-primary lp-small-btn" type="button" id="te2__tag_add">+</button>
            <button class="uk-button-small uk-button-primary lp-small-btn" type="button" id="te2__tag_clr">↻</button>
        </div>
    </div>
</label>
<div class="tag_container uk-margin-large-bottom" id="te2__tag_container">
    {# теги #}
</div>